In [28]:
import pandas as pd
import time 

def load_into_csv(path,n):
    data=pd.read_csv(path,nrows=n,names=['nom','notes'])
    
    return data

In [29]:
data=load_into_csv("person_data.csv",20)
print(data)

         nom  notes
0       Alex   8.80
1      Marie  13.74
2      Lucas  11.77
3       Emma   7.88
4       Paul   3.17
5      Laura   0.49
6       Hugo   8.32
7      Chloe  16.85
8     Maxime  10.42
9     Sophie  13.94
10    Nathan   3.00
11   Camille  10.09
12    Thomas  10.14
13  Juliette   7.59
14  Matthieu  14.22
15     Manon   5.70
16       Leo   8.61
17     Sarah  18.95
18   Antoine   0.76
19     Lucie   5.94

In [30]:
def recherche (list,n):
    for i in range (len(list)):
        if list[i]==n:
            return i
    return "Nombre non présent dans la liste"

def rechercheBinaire(list,n):
    g=0
    d=len(list)-1
    m=(g+d)//2
    while g<=d :
        if list[m]==n:
                return m
        elif list[m]>n:
            d=m-1
        else:
            g=m +1
        m=(g+d)//2
    return "rien"

In [31]:
def recherchelineaire_nom_to_note(df,nom):

    lst_nom=df['nom'].tolist()
    lst_notes=df['notes'].tolist()

    result=recherche(lst_nom,nom)
    if result=="Nombre non présent dans la liste" :
        return "Nom non présent dans la liste"
    else:
        return nom,lst_notes[result]

In [32]:
def rechercheBinaire_nom_to_note(df,nom):

    df=df.sort_values("nom")
    lst_nom=df['nom'].tolist()
    lst_notes=df['notes'].tolist()

    result=rechercheBinaire(lst_nom,nom)

    if result=="rien" :
        return "Nom non présent dans la liste"
    else:
        return nom,lst_notes[result]

In [33]:
r1=recherchelineaire_nom_to_note(data,'Juliette')

r2=rechercheBinaire_nom_to_note(data,'Juliette')
print(r1)
print(r2)

('Juliette', 7.59)
('Juliette', 7.59)

In [34]:
data2=load_into_csv("person_data.csv",100)
r1=recherchelineaire_nom_to_note(data2,'Yohan')
r2=rechercheBinaire_nom_to_note(data2,'Yohan')
print(r1)
print(r2)

('Yohan', 15.12)
('Yohan', 15.12)

In [35]:
def rechercheGeneral(data,nom,algo):
    tm_debut=time.time()
    result=algo(data,nom)
    tm_fin=time.time()
    return result,tm_fin-tm_debut

In [36]:
rechercheGeneral(data2,'Yohan',recherchelineaire_nom_to_note)

(('Yohan', 15.12), 0.0)

In [40]:
lst_tps_recherche_lineraire=[]
lst_tps_recherche_binaire=[]

for i in range (10,101,10):
    data=load_into_csv("person_data.csv",i)
    r=rechercheGeneral(data,'Yohan',recherchelineaire_nom_to_note)
    lst_tps_recherche_lineraire.append(r[1])

for i in range (10,101,10):
    data=load_into_csv("person_data.csv",i)
    r=rechercheGeneral(data,'Yohan',rechercheBinaire_nom_to_note)
    lst_tps_recherche_binaire.append(r[1])

print(lst_tps_recherche_lineraire)
print(lst_tps_recherche_binaire)

datafinal=pd.DataFrame(list(zip([n for n in range (10,101,10)],lst_tps_recherche_lineraire,lst_tps_recherche_binaire)),columns=['valeur de n','tps recherche lineaire','tps recherche binaire'])
datafinal

[0.0, 0.0, 0.0, 0.0010402202606201172, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[0.0004940032958984375, 0.0, 0.0010128021240234375, 0.0009980201721191406, 0.0009996891021728516, 0.0004994869232177734, 0.0009961128234863281, 0.0004935264587402344, 0.0005049705505371094, 0.0004973411560058594]

   valeur de n  tps recherche lineaire  tps recherche binaire
0           10                 0.00000               0.000494
1           20                 0.00000               0.000000
2           30                 0.00000               0.001013
3           40                 0.00104               0.000998
4           50                 0.00000               0.001000
5           60                 0.00000               0.000499
6           70                 0.00000               0.000996
7           80                 0.00000               0.000494
8           90                 0.00000               0.000505
9          100                 0.00000               0.000497