Étape 1 : Chargement des données
○ Créer une fonction load_person_data(filename, n) qui permet de charger une
liste de personnes avec leurs notes depuis un fichier CSV. Chaque ligne du
fichier contient le nom d&#39;une personne et sa note.
○ La fonction prend le paramètre n en entrée, et renvoie les n premiers
éléments du fichier.

In [25]:
import pandas as pd
import time 

def load_into_csv(path,n):
    data=pd.read_csv(path,nrows=n,names=['nom','notes'])
    
    return data

In [26]:
data=load_into_csv("../data/person_data.csv",20)
print(data)

         nom  notes
0       Alex   8.80
1      Marie  13.74
2      Lucas  11.77
3       Emma   7.88
4       Paul   3.17
5      Laura   0.49
6       Hugo   8.32
7      Chloe  16.85
8     Maxime  10.42
9     Sophie  13.94
10    Nathan   3.00
11   Camille  10.09
12    Thomas  10.14
13  Juliette   7.59
14  Matthieu  14.22
15     Manon   5.70
16       Leo   8.61
17     Sarah  18.95
18   Antoine   0.76
19     Lucie   5.94

Étape 2 : Recherche
○ Utilisez les algorithmes de recherche suivants pour trouver une personne
dans la liste en fonction de son nom ou de sa note :
■ Recherche linéaire
■ Recherche dichotomique (binaire) (la liste doit être triée)
○ PS : En premier, chercher la note de “Juliette” sur les 20 premiers étudiants
■ En second, récupérer toute la liste, et chercher “Yohan”
■ Time %time, tm_debut , tm_fin

In [27]:
def recherche (list,n):
    for i in range (len(list)):
        if list[i]==n:
            return i
    return "Nombre non présent dans la liste"

def rechercheBinaire(list,n):
    g=0
    d=len(list)-1
    m=(g+d)//2
    while g<=d :
        if list[m]==n:
                return m
        elif list[m]>n:
            d=m-1
        else:
            g=m +1
        m=(g+d)//2
    return "rien"

In [28]:
def recherchelineaire_nom_to_note(df,nom):

    lst_nom=df['nom'].tolist()
    lst_notes=df['notes'].tolist()

    result=recherche(lst_nom,nom)
    if result=="Nombre non présent dans la liste" :
        return "Nom non présent dans la liste"
    else:
        return nom,lst_notes[result]

In [29]:
def rechercheBinaire_nom_to_note(df,nom):

    df=df.sort_values("nom")
    lst_nom=df['nom'].tolist()
    lst_notes=df['notes'].tolist()

    result=rechercheBinaire(lst_nom,nom)

    if result=="rien" :
        return "Nom non présent dans la liste"
    else:
        return nom,lst_notes[result]

In [30]:
r1=recherchelineaire_nom_to_note(data,'Juliette')

r2=rechercheBinaire_nom_to_note(data,'Juliette')
print(r1)
print(r2)

('Juliette', 7.59)
('Juliette', 7.59)

In [31]:
data2=load_into_csv("../data/person_data.csv",100)
r1=recherchelineaire_nom_to_note(data2,'Yohan')
r2=rechercheBinaire_nom_to_note(data2,'Yohan')
print(r1)
print(r2)

('Yohan', 15.12)
('Yohan', 15.12)

Étape 3 : Créer une fonction générale qui prend en paramètres un nom, un
dataframe, et un algorithme de recherche. Cette fonction doit retourner la note
correspondante au nom recherché ainsi que le temps d&#39;exécution de l&#39;algorithme.

In [32]:
def rechercheGeneral(data,nom,algo):
    tm_debut=time.time()
    result=algo(data,nom)
    tm_fin=time.time()
    return result,tm_fin-tm_debut

In [33]:
rechercheGeneral(data2,'Yohan',recherchelineaire_nom_to_note)

(('Yohan', 15.12), 0.0)

4. Étape 4 : Mesure des performances
○ Mesurer les performances en simulant les deux algorithmes sur des données
de taille variable, allant de 10 à 100.

In [35]:
lst_tps_recherche_lineraire=[]
lst_tps_recherche_binaire=[]

for i in range (10,101,10):
    data=load_into_csv("../data/person_data.csv",i)
    r=rechercheGeneral(data,'Yohan',recherchelineaire_nom_to_note)
    lst_tps_recherche_lineraire.append(r[1])

for i in range (10,101,10): 
    data=load_into_csv("../data/person_data.csv",i)
    r=rechercheGeneral(data,'Yohan',rechercheBinaire_nom_to_note)
    lst_tps_recherche_binaire.append(r[1])

print(lst_tps_recherche_lineraire)
print(lst_tps_recherche_binaire)

[0.001035451889038086, 0.0, 0.0, 0.0, 0.0, 0.0005035400390625, 0.0, 0.0, 0.0, 0.0005002021789550781]
[0.000995635986328125, 0.0004992485046386719, 0.0005047321319580078, 0.0004978179931640625, 0.0, 0.0, 0.0004999637603759766, 0.0, 0.0005033016204833984, 0.0005006790161132812]

5. Étape 5 : Résultats
○ Présentez vos résultats sous forme de tableau comparatif des temps pour
chaque algorithme et chaque taille de liste.

In [36]:
datafinal=pd.DataFrame(list(zip([n for n in range (10,101,10)],lst_tps_recherche_lineraire,lst_tps_recherche_binaire)),columns=['valeur de n','tps recherche lineaire','tps recherche binaire'])
datafinal

   valeur de n  tps recherche lineaire  tps recherche binaire
0           10                0.001035               0.000996
1           20                0.000000               0.000499
2           30                0.000000               0.000505
3           40                0.000000               0.000498
4           50                0.000000               0.000000
5           60                0.000504               0.000000
6           70                0.000000               0.000500
7           80                0.000000               0.000000
8           90                0.000000               0.000503
9          100                0.000500               0.000501