## TEST

In [54]:
print("ce prof c'est haja le top")

ce prof c'est haja le top

## algorithmique SOSO

In [55]:
import pandas as pd

In [56]:
filename = "../data/person_data.csv"

In [57]:
# Fonction (file.csv, int) -> df

def load_person_data(filename:str, n:int)-> pd.DataFrame:
    df = pd.read_csv(filename, names=['Nom', 'Note'], header=None)
    df_trie = df.sort_values(by="Nom")
    return df_trie.head(n)

In [58]:
# Recherche linaire
def recherche_linaire(df:pd.DataFrame, cible:str)->float:
    noms = df['Nom'].to_list()

    for i in range(len(noms)):
        if noms[i] == cible:
            index_cible = i
            return df.iloc[index_cible]['Note']

In [59]:
df = load_person_data(filename, 20)
recherche_linaire(df, "Amandine")

np.float64(6.71)

In [60]:
# Recherche binaire
df = load_person_data(filename,20)
print(df)
def recherche_binaire(df:pd.DataFrame,cible:str)->float:
    noms = df['Nom'].to_list()
    print(noms)
    debut = 0
    fin = len(noms) - 1
    while debut <= fin:
        milieu = (debut + fin)// 2
        if noms[milieu] == cible:
            return df.iloc[milieu]["Note"]
        elif noms[milieu] < cible:
            debut = milieu + 1
        else:
            fin = milieu - 1
    return None


recherche_binaire(df,"Amandine")

          Nom   Note
58     Adrien  16.39
82      Alain   4.29
0        Alex   8.80
63  Alexandre   2.85
29      Alice   8.55
25     Alicia   5.58
39   Amandine   6.71
41      Anais   6.47
18    Antoine   0.76
32     Arthur   9.77
55    Aurelie  17.98
26    Bastien  15.45
56   Benjamin   3.36
34     Benoit   0.95
11    Camille  10.09
88  Catherine   7.58
42     Cedric   7.10
53     Celine  10.11
47  Charlotte   1.91
7       Chloe  16.85
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe']

np.float64(6.71)

          Nom   Note
58     Adrien  16.39
82      Alain   4.29
0        Alex   8.80
63  Alexandre   2.85
29      Alice   8.55
25     Alicia   5.58
39   Amandine   6.71
41      Anais   6.47
18    Antoine   0.76
32     Arthur   9.77
55    Aurelie  17.98
26    Bastien  15.45
56   Benjamin   3.36
34     Benoit   0.95
11    Camille  10.09
88  Catherine   7.58
42     Cedric   7.10
53     Celine  10.11
47  Charlotte   1.91
7       Chloe  16.85