## TEST

In [83]:
print("ce prof c'est haja le top")

ce prof c'est haja le top

## algorithmique SOSO

In [84]:
import pandas as pd

In [85]:
filename = "../data/person_data.csv"

In [86]:
# Fonction (file.csv, int) -> df

def load_person_data(filename:str, n:int)-> pd.DataFrame:
    df = pd.read_csv(filename, names=['Nom', 'Note'], header=None)
    df_trie = df.sort_values(by="Nom")
    return df_trie.head(n)

In [87]:
# Recherche linaire
def recherche_linaire(df:pd.DataFrame, cible:str)->float:
    noms = df['Nom'].to_list()

    for i in range(len(noms)):
        if noms[i] == cible:
            index_cible = i
            return df.iloc[index_cible]['Note']

In [88]:
df = load_person_data(filename, 20)
recherche_linaire(df, "Amandine")

np.float64(6.71)

In [89]:
# Recherche binaire
df = load_person_data(filename,20)
def recherche_binaire(df:pd.DataFrame,cible:str)->float:
    noms = df['Nom'].to_list()
    print(noms)
    debut = 0
    fin = len(noms) - 1
    while debut <= fin:
        milieu = (debut + fin)// 2
        if noms[milieu] == cible:
            return df.iloc[milieu]["Note"]
        elif noms[milieu] < cible:
            debut = milieu + 1
        else:
            fin = milieu - 1
    return None


recherche_binaire(df,"Amandine")

['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe']

np.float64(6.71)

## ÉTAPE 3

In [90]:
import time

### CRÉATION DE LA FONCTION PRINCIPALE

In [106]:

df = load_person_data(filename,20)

def recherche_note(cible:str,df:pd.DataFrame,algo_recherche)-> float:
    debut_temps = time.time()
    note = algo_recherche(df,cible) # Utilisation d'algo de recherche 
    fin_temps = time.time()
    temps_ext =  fin_temps - debut_temps
    #print(f"la note est de {note} , l'algo{algo_recherche} a pris {temps_ext} secondes a trouver")
    return note, temps_ext


recherche_note("Amandine",df,recherche_linaire)
recherche_note("Amandine",df,recherche_binaire)

['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe']

(np.float64(6.71), 0.0001800060272216797)

### MESURE DE PERFORMANCES

In [97]:
def performance_test(filename):
    sizes  = range(10,101,10)
    resultat = []

    for s in sizes:
        df = load_person_data(filename=filename, n=s)

        _, tmp_lineaire = recherche_note(df=df, cible ="Alex", algo_recherche=recherche_linaire)
        _, tmp_binaire = recherche_note(df=df, cible ="Alex", algo_recherche=recherche_binaire)

        resultat.append((s, tmp_lineaire,tmp_binaire))

    return resultat

In [107]:
resultat_test = performance_test(filename=filename)

['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe', 'Christine', 'Clara', 'Clemence', 'Clotilde', 'Damien', 'David', 'Dylan', 'Elise', 'Elsa', 'Emma']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe', 'Christine', 'Clara', 'Clemence', 'Clotilde', 'Damien', 'David', 'Dylan', 'Elise', 'Elsa', 'Emma', 'Eric', 'Esteban', 'Eva', 'Eva', 'Eve', 'Fabien', 'Fanny', 'Florian', 'Frederic', 'Gaetan']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe', 'Christine', 'Clara', 'Clemence', 'Clotilde', 'Damien', 'David', 'Dylan', 'Elise', 'Elsa', 'Emma', 'Eric', 'Esteban', 'Eva', 'Eva', 'Eve', 'Fabien', 'Fanny', 'Florian', 'Frederic', 'Gaetan', 'Gauthier', 'Guillaume', 'Helene', 'Henri', 'Hugo', 'Isabelle', 'Jean', 'Jean-Baptiste', 'Jeanne', 'Jeremy']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe', 'Christine', 'Clara', 'Clemence', 'Clotilde', 'Damien', 'David', 'Dylan', 'Elise', 'Elsa', 'Emma', 'Eric', 'Esteban', 'Eva', 'Eva', 'Eve', 'Fabien', 'Fanny', 'Florian', 'Frederic', 'Gaetan', 'Gauthier', 'Guillaume', 'Helene', 'Henri', 'Hugo', 'Isabelle', 'Jean', 'Jean-Baptiste', 'Jeanne', 'Jeremy', 'Jerome', 'Julie', 'Julie', 'Julien', 'Juliette', 'Karine', 'Kevin', 'Laura', 'Lea', 'Leo']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe', 'Christine', 'Clara', 'Clemence', 'Clotilde', 'Damien', 'David', 'Dylan', 'Elise', 'Elsa', 'Emma', 'Eric', 'Esteban', 'Eva', 'Eva', 'Eve', 'Fabien', 'Fanny', 'Florian', 'Frederic', 'Gaetan', 'Gauthier', 'Guillaume', 'Helene', 'Henri', 'Hugo', 'Isabelle', 'Jean', 'Jean-Baptiste', 'Jeanne', 'Jeremy', 'Jerome', 'Julie', 'Julie', 'Julien', 'Juliette', 'Karine', 'Kevin', 'Laura', 'Lea', 'Leo', 'Lionel', 'Louise', 'Luc', 'Lucas', 'Lucie', 'Manon', 'Marc', 'Margaux', 'Marie', 'Marine']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe', 'Christine', 'Clara', 'Clemence', 'Clotilde', 'Damien', 'David', 'Dylan', 'Elise', 'Elsa', 'Emma', 'Eric', 'Esteban', 'Eva', 'Eva', 'Eve', 'Fabien', 'Fanny', 'Florian', 'Frederic', 'Gaetan', 'Gauthier', 'Guillaume', 'Helene', 'Henri', 'Hugo', 'Isabelle', 'Jean', 'Jean-Baptiste', 'Jeanne', 'Jeremy', 'Jerome', 'Julie', 'Julie', 'Julien', 'Juliette', 'Karine', 'Kevin', 'Laura', 'Lea', 'Leo', 'Lionel', 'Louise', 'Luc', 'Lucas', 'Lucie', 'Manon', 'Marc', 'Margaux', 'Marie', 'Marine', 'Marion', 'Mathilde', 'Matthieu', 'Max', 'Maxime', 'Melissa', 'Mickael', 'Morgane', 'Nathalie', 'Nathan']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe', 'Christine', 'Clara', 'Clemence', 'Clotilde', 'Damien', 'David', 'Dylan', 'Elise', 'Elsa', 'Emma', 'Eric', 'Esteban', 'Eva', 'Eva', 'Eve', 'Fabien', 'Fanny', 'Florian', 'Frederic', 'Gaetan', 'Gauthier', 'Guillaume', 'Helene', 'Henri', 'Hugo', 'Isabelle', 'Jean', 'Jean-Baptiste', 'Jeanne', 'Jeremy', 'Jerome', 'Julie', 'Julie', 'Julien', 'Juliette', 'Karine', 'Kevin', 'Laura', 'Lea', 'Leo', 'Lionel', 'Louise', 'Luc', 'Lucas', 'Lucie', 'Manon', 'Marc', 'Margaux', 'Marie', 'Marine', 'Marion', 'Mathilde', 'Matthieu', 'Max', 'Maxime', 'Melissa', 'Mickael', 'Morgane', 'Nathalie', 'Nathan', 'Nina', 'Olivier', 'Patrick', 'Paul', 'Pierre', 'Quentin', 'Raphael', 'Romain', 'Sabrina', 'Sacha']
['Adrien', 'Alain', 'Alex', 'Alexandre', 'Alice', 'Alicia', 'Amandine', 'Anais', 'Antoine', 'Arthur', 'Aurelie', 'Bastien', 'Benjamin', 'Benoit', 'Camille', 'Catherine', 'Cedric', 'Celine', 'Charlotte', 'Chloe', 'Christine', 'Clara', 'Clemence', 'Clotilde', 'Damien', 'David', 'Dylan', 'Elise', 'Elsa', 'Emma', 'Eric', 'Esteban', 'Eva', 'Eva', 'Eve', 'Fabien', 'Fanny', 'Florian', 'Frederic', 'Gaetan', 'Gauthier', 'Guillaume', 'Helene', 'Henri', 'Hugo', 'Isabelle', 'Jean', 'Jean-Baptiste', 'Jeanne', 'Jeremy', 'Jerome', 'Julie', 'Julie', 'Julien', 'Juliette', 'Karine', 'Kevin', 'Laura', 'Lea', 'Leo', 'Lionel', 'Louise', 'Luc', 'Lucas', 'Lucie', 'Manon', 'Marc', 'Margaux', 'Marie', 'Marine', 'Marion', 'Mathilde', 'Matthieu', 'Max', 'Maxime', 'Melissa', 'Mickael', 'Morgane', 'Nathalie', 'Nathan', 'Nina', 'Olivier', 'Patrick', 'Paul', 'Pierre', 'Quentin', 'Raphael', 'Romain', 'Sabrina', 'Sacha', 'Sandrine', 'Sarah', 'Sebastien', 'Sophie', 'Stephanie', 'Thomas', 'Veronique', 'Vincent', 'Virginie', 'Yohan']

In [109]:
resultat = pd.DataFrame(resultat_test, columns=["taille","temps Linaire", "temps Binaire"])

In [110]:
resultat

   taille  temps Linaire  temps Binaire
0      10       0.000142       0.000217
1      20       0.000079       0.000063
2      30       0.000115       0.000082
3      40       0.000071       0.000061
4      50       0.000070       0.000063
5      60       0.000062       0.000055
6      70       0.000072       0.000062
7      80       0.000075       0.000080
8      90       0.000060       0.000112
9     100       0.000056       0.000052

# DEBUT AVEC MATPLOT.LIB